.break-disabled > a {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  border: 1px solid #dee2e6;
}

.order-skeleton {
  /*background-image: linear-gradient(gray 80%, transparent 0);*/
  color: #e7e7e7;
  pointer-events: none;
  cursor: auto;
}

.order-row {
  cursor: pointer;
}

.line-item-header {
  font-size: 11pt;
  font-weight: bold;
  line-height: 2 !important;
  margin-bottom: 0.5rem !important;
}

.line-item-head {
  font-weight: bold;
  vertical-align: middle !important;
}