.break-disabled > a {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  border: 1px solid #dee2e6;
}